section {
  display: flex;
}

.container-wrapper {
  width: 500px;
  overflow: hidden;
}

.container {
  display: flex;
  width: 1200px; /* Largura total dos quadrados + margem */
}

.square {
  width: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 10px;
  padding: 10px;
}
